* {
    margin: 0;
    padding: 0;
    
}
#world {
    float: left;
    border: 1px solid black;
}
.wall {
    background-color: blue;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;

}
.blank {
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
}

.sushi {
    background-image: url('./img/sushi.png');
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    
}
.ninja-man {
    background-image: url('./img/ninja.gif');
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: 2.6rem;
    left: 2.5rem;

}